<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Novo"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        [label]="Excluir"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedProducts()"
        [disabled]="!selectedProducts || !selectedProducts.length"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Importar"
        chooseLabel="Importar"
        class="p-mr-2 p-d-inline-block"
      ></p-fileUpload>
      <button
        pButton
        pRipple
        label="Exportar"
        icon="pi pi-upload"
        class="p-button-help"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="persons"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'country.name',
      'representative.name',
      'status'
    ]"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Pesquisar Pessoas</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Pesquisa..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">
          Nome <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="born">
          Data de Nascimento <p-sortIcon field="price"></p-sortIcon>
        </th>
        <th pSortableColumn="gender">
          Sexo <p-sortIcon field="category"></p-sortIcon>
        </th>
        <th pSortableColumn="height">
          Altura <p-sortIcon field="height"></p-sortIcon>
        </th>
        <th pSortableColumn="weight">
          Peso <p-sortIcon field="weight"></p-sortIcon>
        </th>
        <th pSortableColumn="phone">
          Telefone <p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th pSortableColumn="note">
          Descrição <p-sortIcon field="note"></p-sortIcon>
        </th>
        <th pSortableColumn="inventoryStatus">
          Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person>
      <tr>
        <td>
          <p-tableCheckbox [value]="persons"></p-tableCheckbox>
        </td>
        <td>{{ person.name }}</td>
        <td>{{ person.born }}</td>
        <td>{{ person.gender }}</td>
        <td>{{ person.height }}</td>
        <td>{{ person.weight }}</td>
        <td>{{ person.phone }}</td>
        <td>{{ person.note }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="editProduct(person)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteProduct(person)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        No total existem {{ products ? products.length : 0 }} pessoas
        cadastradas.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="productDialog"
  [style]="{ width: '450px' }"
  header="Cadastro"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="person.name"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !person.name"
        >Nome é necessário.</small
      >
    </div>

    <div class="p-formgrid p-grid">
      <label for="born">Data de Nascimento</label>
      <p-calendar [(ngModel)]="person.born"></p-calendar>
      <div class="p-field p-col">
        <label for="gender">Sexo</label>
        <p-inputNumber id="gender" [(ngModel)]="person.gender"></p-inputNumber>
      </div>
    </div>

    <div class="p-field">
      <label for="description">Descrição</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="person.note"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Salvar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
